# Compiled class files
*.class

# Log files
*.log

# Ignore JARs
*.jar

# Eclipse-specific files
.classpath
.project
.settings/
bin/

# VSCode-specific files
.vscode/

# OS-specific files
Thumbs.db
.DS_Store

# Optional: ignore MySQL connector libraries
lib/mysql-connector-*
